body {
    background: #2c2c2c;
    color: #d7d7d7;
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: #ffffff;
}

.section {
    background: #2c2c2c
}

h1, h2 {
    color: #ffffff;
}

h3, h4, h5, p {
    color: #d7d7d7;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
}

input {
    color: #d7d7d7;
}

.form-control:focus {
    background: #1e1e1e;
}

textarea.form-control {
    border: 1px solid #636363;
    border-radius: 16px;
}

textarea.form-control:focus, textarea.form-control:active {
    border: 1px solid #f96332;
}

.btn-primary:hover {
    background-color: #f73d00;
    color: #ffffff;
}

.btn {
    color: #fff;
}

.form-control {
    border: 1px solid #636363;
}

.btn-light {
    background-color: #ebebeb !important;
    color: #000;
}

.btn-light:hover {
    background-color: #ffffff !important;
    color: #000;
}

.has-icon i {
    float: left;
    margin-right: 10px;
}

.modal-content {
    background-color: #1f1f1f;
}

.sidebar-block {
    position: relative;
}

.sidebar-block:after {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    content: '';
    display: block;
    clear: both;
}

.sidebar-caption {
    color: #6d6d6d;
    font-size: 12px;
    line-height: 1.4em;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar-value {
    margin-bottom: 12px;
    margin-left: 6px;
}

.meme-description {
    color: #7d7d7d;
}

.btn-invest {
    margin-top: 36px;
    font-size: 16px;
}

.help-box {
    margin-top: 30px;
    border: 1px solid #3c3c3c;
    padding: 25px;;
    color: #616161;
}

.help-box p {
    margin: 0;
    color: #616161;
}

.meme-img {
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
}

.like-icon {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.28);
    margin-top: 5px;
    font-weight: 600;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: #c01300;*/
}

.liked {
    color: #ff383c !important;
    transition: all .25s ease-in;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: #c01300;*/
}

.meme-likes{
    margin-top: -20px;
    float: right;
    position: absolute;
    right: 29px;
    top: 27px;
}

.meme {
    margin-bottom: 60px;
}

.memecontainer {

}

.meme-img-container {
    position: relative;

}

.meme-img-container > img {
    display: block;
    max-width: 100%;
}

.meme-img-container .heart-container {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.meme-img-container .heart-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.meme-img-container .heart-container > img {
    display: inline-block;
    width: 100px;
    height: 88px;
    opacity: 0;
    vertical-align: middle;

}

.meme-img-container.active .heart-container > img {
    width: 150px;
    height: 131px;
    opacity: 1;
    transition: all 1s ease-in;
    animation: fade .5s ease-in forwards;

}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.scroller-status {
    display: none;
    padding: 20px 0;
    text-align: center;
}

.scroller-status__message {
    text-align: center;
    color: #777;
}

/* loader-ellips
------------------------- */

.loader-ellips {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

/* loader-wheel
------------------------- */

.loader-wheel {
    font-size: 64px; /* change size here */
    position: relative;
    height: 1em;
    width: 1em;
    padding-left: 0.45em;
    overflow: hidden;
    margin: 0 auto;
    animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
    display: block;
    position: absolute;
    height: 0.3em;
    width: 0.1em;
    border-radius: 0.05em;
    background: #333; /* change color here */
    opacity: 0.8;
    transform: rotate(-30deg);
    transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.profileStatBox{
    height: 279px;
    margin: 45px;
    text-align: center;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border: 1px solid #7b7b7b;
    background: #212121;
}

.profileStatBox h2{
    font-size: 26px;
    color: #828282;
    margin-top: 30px;
    text-transform: uppercase;
}

.stat-icon{
    margin-top: 4px;
    font-size: 87px;
}

.usermemes{
    margin: 20px;
    padding: 20px;
}

.social-btn-fb{
    background-color: #4267b2  ;
    color: #fff;
    height: 15.6rem !important;
    min-width: 3.6rem !important;;
    width: 15.6rem !important;;
}
.social-btn-fb i.fa{
    left: 43% !important;
    top: 45% !important;
    font-size: 6rem !important;
}

.social-btn-fb p{
    left: 10% !important;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-weight: 600;
}

.social-btn-fb:hover{
     background-color: #fff  ;
     color: #4267b2 !important;
 }

.social-btn-fb:hover p{
    color: #4267b2 !important;
}

.nav-link{
    color:white;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.04);
}
.nav-link p{
    color:white;
    font-size: 12px;
}